<!-- home.component.html -->
<div class="dashboard-container">
  <div class="cyber-background">
    <div class="scanline"></div>
    <div class="content-wrapper">
      <h1 class="cyber-title glitch-text">
        <span class="neon-cyan">WILLKOMMEN, </span> {{ username }}
      </h1>

      <div class="point-box">
        <h4 class="ranking-text">TOTAL_POINTS: 0</h4>
        <h4 class="ranking-text">DAY_POINTS: 0</h4>
        <h4 class="ranking-text">CURRENT_RANKING: 1.</h4>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="match-box">
            <div class="hud-header">
              <span class="hud-text">
                NEXT_MATCH @if (currentMatch?.readyToStart) { ({{
                  currentMatch?.map
                }}) - Team {{ currentMatch?.team1PicksTeam ? "1" : "2" }} picks
                }
              </span>
            </div>

            <div
              *ngIf="!allPlayersReady() || currentMatch?.readyToStart"
              class="match-grid"
            >
              <div class="team-column">
                <h3 class="team-header team-blue">TEAM 1</h3>
                <div class="player-list">
                  <div
                    *ngFor="let player of currentMatch?.team1"
                    class="player-item"
                  >
                    {{ player.user.username }}
                    @if (player.user.role === 'ROLE_USER_NPC') { (NPC) }
                    <span *ngIf="player.ready">✔</span>
                  </div>
                </div>
              </div>

              <div class="vs-divider">
                <span class="vs-text">VS</span>
              </div>

              <div class="team-column">
                <h3 class="team-header team-red">TEAM 2</h3>
                <div class="player-list">
                  <div
                    *ngFor="let player of currentMatch?.team2"
                    class="player-item"
                  >
                    {{ player.user.username }}
                    @if (player.user.role === 'ROLE_USER_NPC') { (NPC) }
                    <span *ngIf="player.ready">✔</span>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="allPlayersReady() && !currentMatch?.readyToStart"
              class="map-selection"
            >
              <div *ngFor="let map of maps" class="map-option">
                <img
                  [src]="'assets/' + map.name + '.png'"
                  [alt]="map.name"
                  class="map-image"
                />

                <p-radioButton
                  name="mapSelection"
                  [inputId]="'map' + map.id"
                  [value]="map"
                  [(ngModel)]="selectedMap"
                  (click)="voteMap(map.name)"
                >
                </p-radioButton>

                <label [for]="'map' + map.id" class="map-label">
                  {{ map.name }}
                </label>

                <div class="map-votes">
                  {{ getVotersForMap(map.name) }}
                </div>
              </div>
            </div>
          </div>
          <div class="button-group">
            <button *ngIf="currentMatch?.readyToStart" class="cyber-button">
              <span class="button-hacker-text">JOIN</span>
              <div class="button-glow"></div>
            </button>
            <button
              *ngIf="!allPlayersReady() && !currentMatch?.readyToStart"
              (click)="toggleReady()"
              class="cyber-button"
            >
              <span class="button-hacker-text">READY</span>
              <div class="button-glow"></div>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="match-box">
            <div class="hud-header">
              <span class="hud-text">RECENT_MATCHES</span>
            </div>
            <div>
              @if (recentMatches?.length > 0) {
              <p-accordion>
                <p-accordionTab header="Header I">
                  <p>Lorem ipsum dolor sit amet...</p>
                </p-accordionTab>
                <p-accordionTab header="Header II">
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium...
                  </p>
                </p-accordionTab>
                <p-accordionTab header="Header III">
                  <p>At vero eos et accusamus et iusto odio dignissimos...</p>
                </p-accordionTab>
              </p-accordion>
              } @else {
              <p class="placeholder-text">No recent matches found.</p>
              }
            </div>
          </div>
          <div class="button-group">
            <button (click)="reloadRecents()" class="cyber-button">
              <span class="button-hacker-text">RELOAD</span>
              <div class="button-glow"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
